@import "./base.css";
@import "./typography.css";

html,
body {
  scroll-snap-type: y mandatory;
}

body {
  background: url("./img/bg.jpg") no-repeat center center/cover;
}
#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal; */
}

.container {
  max-width: var(--container-w);
  margin: auto;
}
header {
  position: sticky;
  top: 0;
  width: 100%;
}
footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}
section {
  display: grid;
  align-items: center;
  min-height: calc(var(--vh) * 100);
  padding: var(--header-h) 0 var(--footer-h);
  position: relative;
  scroll-snap-align: start;
}

.box {
  border-radius: var(--radius);
  border: var(--border);
}

.counter-value {
  line-height: 1;
}

.b-b {
  border-bottom: var(--border);
  border-color: currentColor;
}
.b-t {
  border-top: var(--border);
  border-color: currentColor;
}
.b-r {
  border-right: var(--border);
  border-color: currentColor;
}
.b-l {
  border-left: var(--border);
  border-color: currentColor;
}

@media screen and (max-width: 1080px) {
  .hidden-sm {
    display: none;
  }
  section {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
}
